div {
    padding: 6px;
    margin: 0px;
    font-size: 22px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  span {
    background-color: rgb(230, 240, 241);
    margin-left: 25px;
    margin-right: 10px;
    padding: 3px;
  }

  .response {
    color: yellow;
    background-color: darkmagenta;
  }

  button {
    margin-left:10px;
    height:30px;
    font-size: 18px;
  }

  .the_json {
    border-width: 6px;
    border-style: solid;
    border-color: rgb(193, 238, 238);
    background-color: rgb(253, 234, 239);
    margin-left: 15px;
  }

  td {
    border-width:1px;
    border-style: solid;
    margin:0px;
    padding: 3px;
  }

  input {
    width: 200px;
    height: 30px;
    font-size: 22px;
    border-style: visible;
    background-color: #fdf8f0;
    color: rgb(10, 9, 9);
    outline-width: 1px;
  }

  div > input {
    width:400px;
    height:35px;
  }

  select {
    width: 120px;
    height: 30px;
    font-size: 22px;
    border-style: visible;
    background-color: #e5f2ee;
    color: rgb(10, 9, 9);
    outline-width: 2px;
  }

  .container {
    display: flex; 
    justify-content: flex-start;
  }