<div>
  <div style="width:95%; height:85%; overflow: auto;">
    <div style="width:100%">

      <div *ngFor="let element of jsonResult">
        <div>
          <hr>
        </div>
        <div><span (click)="element.open=!element.open">{{ element.table_name }}&nbsp;&nbsp;{{ element.table_type }}</span>
          <input type="text" id="filter_template" *ngIf="element.open" [(ngModel)]="element.RTW.PAYLOAD.template"
            (ngModelChange)="templateChange($event, element)" />
        </div>
        <div class="container" *ngIf="element.open">
          <table>
            <tr *ngFor="let field of element.fields">
              <td>{{field.field_name}}</td>
              <td>{{field.field_type}}</td>
              <td> <input type="checkbox" [(ngModel)]="field.checked" (ngModelChange)="checkChange($event, field, element)"> </td>
              <td> <select id="filter" [(ngModel)]="field.selectedFilter" (ngModelChange)="selectChange($event, field, element)">
                  <option *ngFor="let filter of filterTypes" [value]="filter">{{ filter }}</option>
                </select></td>
              <td><input type="text" id="filtervalue" [(ngModel)]="field.filter_values"
                  (keyup.enter)="filterValueChange($event, field, element)" /></td>
            </tr>
          </table>
          <div>{{element.strRTW}}</div>
        </div>
      </div>
    </div>