<style>
  div {
    padding: 6px;
    margin: 0px;
    font-size: 22px;
    background-color:white;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 .response {
    color: yellow;
    background-color: darkmagenta;
  }

  input,select {
    width:200px;
    height:30px;
    font-size: 22px;
    border-style: visible;
    background-color: wheat;
    color: rgb(10, 9, 9);
    outline-width: 1px;
  }
</style>

<div>
  <div style="width:95%; height:85%; overflow: auto;">
    <div style="width:100%">
    
        <div *ngFor="let element of jsonResult">
          <div><hr></div>
          <div (click)="element.open=!element.open">{{ element.table_name }}&nbsp;&nbsp;{{ element.table_type }}
            <input type="text" id="filter_template" [(ngModel)]="element.filter_template" (ngModelChange)="anyChange($event)" /></div>
          <div *ngIf="element.open">  
            <div *ngFor="let field of element.fields">{{field.field_name}}&nbsp;&nbsp;{{field.field_type}}
              <input type="checkbox" [(ngModel)]="field.checked" (ngModelChange)="anyChange($event)"> 
              <select id="filter" [(ngModel)]="field.selectedFilter" (ngModelChange)="anyChange($event)">
                <option *ngFor="let filter of filterTypes" [value]="filter">{{ filter }}</option>
              </select>&nbsp;&nbsp;
              <input type="text" id="filtervalue" [(ngModel)]="field.filter_values" (ngModelChange)="anyChange($event)" />
            </div> 
        </div>

    <!-- <input type="text" [(ngModel)]="commandString" (keypress)="enterCommand($event)"> -->
  </div>
</div>

