div {
    padding: 6px;
    margin: 0px;
    font-size: 22px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .response {
    color: yellow;
    background-color: darkmagenta;
  }

  input {
    width: 200px;
    height: 30px;
    font-size: 22px;
    border-style: visible;
    background-color: #fdf8f0;
    color: rgb(10, 9, 9);
    outline-width: 1px;
    margin-left: 25px;
  }

  select {
    width: 120px;
    height: 30px;
    font-size: 22px;
    border-style: visible;
    background-color: #e5f2ee;
    color: rgb(10, 9, 9);
    outline-width: 2px;
    margin-right: 5px;
    margin-left: 15px;
  }

  .container {
    display: flex; 
    justify-content: flex-start;
  }