<div>
  <div style="width:95%; height:85%; overflow: auto;">
    <div style="width:100%">

      <div *ngFor="let element of jsonResult">
        <div>
          <hr>
        </div>
        <div class="container"><span (click)="element.open=!element.open">{{ element.table_name }}&nbsp;&nbsp;{{ element.table_type
            }}</span>
            <span *ngIf="element.open">SQL WHERE template 1-9|&()
          <input type="text" id="filter_template" [(ngModel)]="element.RTW.PAYLOAD.template"
            (ngModelChange)="templateChange($event, element)" />
          </span>
          <button (click)="getFromDB($event, element)" *ngIf="element.open">Hent data</button>
        </div>
        <div class="container" *ngIf="element.open">
          <table>
            <tr>
              <th>DBFelt</th><th>Type</th><th>Velg</th>
              <th>TemplateNr</th><th>Filtertype</th><th>Filterverdi</th>
            </tr>
            <tr *ngFor="let field of element.fields">
              <td>{{field.field_name}}</td>
              <td>{{field.field_type}}</td>
              <td> <input type="checkbox" [(ngModel)]="field.checked"
                  (ngModelChange)="checkChange($event, field, element)"> </td>
              <td>{{getFilterId(element, field.field_name)}}</td>
              <td> <select id="filter" [(ngModel)]="field.selectedFilter"
                  (ngModelChange)="selectChange($event, field, element)">
                  <option *ngFor="let filter of filterTypes" [value]="filter">{{ filter }}</option>
                </select></td>
              <td>
                <input type="text" [(ngModel)]="field.filter_values" *ngIf="field.field_type==='text'"
                  (ngModelChange)="filterValueChange($event, field, element)" />
                  <input type="text" [(ngModel)]="field.filter_values" *ngIf="field.field_type==='number'"
                  (ngModelChange)="filterValueChange($event, field, element)" />
                  <input type="date" [(ngModel)]="field.filter_values" *ngIf="field.field_type==='date'"
                  (ngModelChange)="filterValueChange($event, field, element)" />
                  <input type="date" [(ngModel)]="field.to_date" 
                  *ngIf="field.field_type==='date' && field.selectedFilter==='between'"
                  (ngModelChange)="filterValueChange($event, field, element)" />
              </td>
            </tr>
          </table>
          <div class="the_json"><pre>{{element.strRTW}}</pre></div>
        </div>
      </div>
    </div>